<div>
    <h3>Параметры</h3>
    <div>
        <input type="text" placeholder="Ключ" name="keyParam1" />
        <input type="text" placeholder="Значение" name="valueParam1" />
    </div>
    <div>
        <input type="text" placeholder="Ключ" name="keyParam2" />
        <input type="text" placeholder="Значение" name="valueParam2" />
    </div>
</div>
<br>
<div>
    <label>Content-type</label>
    <input type="text" placeholder="Введите формат тела запроса" name="contentType" />
</div>